version: '3'

services:
  nginx-proxy:
    ports:
      - "80:80"
      - "443:443"

  php:
    environment:
      VIRTUAL_HOST: des-amis-du-vin.docker
      VIRTUAL_PORT: 8080
      CERT_NAME: default
    expose:
      - "8080"

  rabbitmq:
    environment:
      VIRTUAL_HOST: rabbitmq.des-amis-du-vin.docker
      VIRTUAL_PORT: 15672
      CERT_NAME: default