parameters:
    tmpDir: var/cache/phpstan
    ignoreErrors:
        -
            identifier: missingType.iterableValue
        -
            message: '#Parameter \$context of method App\\Tasting\\Infrastructure\\ApiPlatform\\State\\Processor\\AcceptInvitationProcessor\:\:process\(\) has invalid type Illuminate\\Http\\Request.#'
            path: src/Tasting/Infrastructure/ApiPlatform/State/Processor/AcceptInvitationProcessor.php
        -
            message: '#Parameter \$context of method App\\Tasting\\Infrastructure\\ApiPlatform\\State\\Processor\\InviteParticipantsToTastingProcessor\:\:process\(\) has invalid type Illuminate\\Http\\Request.#'
            path: src/Tasting/Infrastructure/ApiPlatform/State/Processor/InviteParticipantsToTastingProcessor.php
        -
            message: '#Parameter \$context of method App\\Tasting\\Infrastructure\\ApiPlatform\\State\\Processor\\RejectInvitationProcessor\:\:process\(\) has invalid type Illuminate\\Http\\Request.#'
            path: src/Tasting/Infrastructure/ApiPlatform/State/Processor/RejectInvitationProcessor.php
        -
            message: '#Parameter \$context of method App\\Tasting\\Infrastructure\\ApiPlatform\\State\\Processor\\AddEyeProcessor\:\:process\(\) has invalid type Illuminate\\Http\\Request.#'
            path: src/Tasting/Infrastructure/ApiPlatform/State/Processor/AddEyeProcessor.php
        -
            message: '#Parameter \$context of method App\\Tasting\\Infrastructure\\ApiPlatform\\State\\Processor\\UpdateEyeProcessor\:\:process\(\) has invalid type Illuminate\\Http\\Request.#'
            path: src/Tasting/Infrastructure/ApiPlatform/State/Processor/UpdateEyeProcessor.php
        -
            message: '#Parameter \$context of method App\\Tasting\\Infrastructure\\ApiPlatform\\State\\Processor\\AddNoseProcessor\:\:process\(\) has invalid type Illuminate\\Http\\Request.#'
            path: src/Tasting/Infrastructure/ApiPlatform/State/Processor/AddNoseProcessor.php
        -
            message: '#Parameter \$context of method App\\Tasting\\Infrastructure\\ApiPlatform\\State\\Processor\\UpdateNoseProcessor\:\:process\(\) has invalid type Illuminate\\Http\\Request.#'
            path: src/Tasting/Infrastructure/ApiPlatform/State/Processor/UpdateNoseProcessor.php
        -
            message: '#Parameter \$context of method App\\Tasting\\Infrastructure\\ApiPlatform\\State\\Processor\\AddMouthProcessor\:\:process\(\) has invalid type Illuminate\\Http\\Request.#'
            path: src/Tasting/Infrastructure/ApiPlatform/State/Processor/AddMouthProcessor.php
        -
            message: '#Parameter \$context of method App\\Tasting\\Infrastructure\\ApiPlatform\\State\\Processor\\UpdateMouthProcessor\:\:process\(\) has invalid type Illuminate\\Http\\Request.#'
            path: src/Tasting/Infrastructure/ApiPlatform/State/Processor/UpdateMouthProcessor.php