parameters:
    tmpDir: var/cache/phpstan
    ignoreErrors:
        -
            identifier: missingType.iterableValue
        -
            message: '#Variable \$userAuthenticated might not be defined.#'
            path: src/Security/Application/Command/AuthenticateUserCommandHandler.php
        -
            message: '#PHPDoc tag \@return with type App\\Shared\\Infrastructure\\Doctrine\\DoctrineReadRepository\<T of object\> is not subtype of native type static\(App\\Shared\\Infrastructure\\Doctrine\\DoctrineReadRepository\<T of object\>\).#'
            path: src/Shared/Infrastructure/Doctrine/DoctrineReadRepository.php
        -
            message: '#PHPDoc tag \@return with type App\\Shared\\Domain\\Repository\\ReadRepositoryInterface\<T of object\> is not subtype of native type static\(App\\Shared\\Domain\\Repository\\ReadRepositoryInterface\<T of object\>\).#'
            path: src/Shared/Domain/Repository/ReadRepositoryInterface.php
        -
            message: '#Cannot call method toRfc4122\(\) on Symfony\\Component\\Uid\\Uuid\|null.#'
            path: src/Tasting/Infrastructure/ApiPlatform/State/Processor/InviteParticipantsToTastingProcessor.php